<%= link_to image_tag("Frame 13.jpg", class:"images"), destroy_user_session_path, method: :delete  %>
<body>
  <section id="first-block">
  

  </section>
  <section id="second-block">
  

  </section>
  <section id="third-block">
  

  </section>
</body>  