#first-block{
    background-image: url("Desktop1.jpg");
    margin-left : 85px ;
    width: 88%;
    height: 1100px;
    background-repeat: no-repeat;
    background-size: contain;
}

#second-block{
    background-image: url("Desktop2.jpg");
    margin-left : 85px ;
    width: 88%;
    height: 1100px;
    background-repeat: no-repeat;
    background-size: contain;
}

#third-block{
    background-image: url("Desktop3.jpg");
    margin-left : 85px ;
    width: 88%;
    height: 1100px;
    background-repeat: no-repeat;
    background-size: contain;
}
